td {
    background-color: rgb(240, 255, 248);
    font-size: 13px ;
  }
  
  .userHistory-table{
    width: 100%;
    position: relative; 
  }

  .table-container {
    position: relative;
    width: 100%;
    min-height: 700px;
    overflow: auto;
  }
  