<div class="frm">
    <div style="width: 400px; height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">{{title}} </div>
    <form [formGroup]="userForm">
      <div style="position: relative; font-weight: bold; left:20px; top:30px">
       Login user : 
      </div>
      <input [readonly]="editMode" placeholder="Login" type="text"  style="position: relative; top:0px; left: 130px; width: 250px"  class="form-control" formControlName="login"/>
  
      <div style="position: relative; font-weight: bold; left: 20px; top:35px">
        E-MAIL : 
       </div>
       <input [readonly]="editMode" placeholder="E-MAIL" type="email"  style="position: relative; top:5px; left: 130px; width: 250px" class="form-control" formControlName="email"/>

      <div style="position: relative; font-weight: bold; left: 20px; top:45px">
        Password : 
       </div>
       <input placeholder="Password" type="password"  style="position: relative; top:15px; left: 130px; width: 250px" class="form-control" formControlName="password"/>

       <div style="position: relative; font-weight: bold; left: 20px; top:60px">
        Entreprise : 
       </div>
       <mat-form-field style="position: relative; top:20px; left: 130px; width: 250px">
        <mat-label>Entreprise</mat-label>
        <mat-select formControlName="company" name="company">
          <mat-option *ngFor="let company of companies" [value]="company">
            {{company}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="position: relative; font-weight: bold; left: 20px; top:40px">
        Profil : 
       </div>   
       <mat-form-field style="position: relative; top:0px; left: 130px; width: 250px">
        <mat-label>Profil</mat-label>
        <mat-select formControlName="type" name="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    <div style=" display: flex"> 
      <button (click) = "formCancel()" mat-raised-button  style="position: relative; width: 100px; left: 10px; top : 25px">Annuler</button>    
      <button (click) = "createEditUser(userForm)" mat-raised-button color="primary" style="position: relative; left: 40px; width: 200px;left: 20px; top:25px">Valider la Saisie</button>
      <div *ngIf="inprogress" class="inprogress"><mat-spinner style="height: 30px;width: 30px;"></mat-spinner></div>   
    </div>

   </form>
   
</div>