<div style="display: flex;align-items: center;">
    <mat-icon *ngIf="success" style="font-size: 2rem; height: 2rem;width: 2rem;margin-right: .5rem;">done</mat-icon>
    <mat-icon *ngIf="!success" style="font-size: 2rem; height: 2rem;width: 2rem;margin-right: .5rem;">report_problem</mat-icon>
    &nbsp;
    <span>{{data.message}}</span>
    <div class="spacer"></div>
</div>