<div class="stocks-table">
    <div class="table-container"> 
      <div class="tbl">  
        <div style="height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Liste des stocks</div>
        <!--filter-->
       <mat-form-field style="width: 100%; position: relative; top :22px">
         <mat-label>Filtre</mat-label>
         <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
       </mat-form-field>
       
       <div class="scroll">
         <table mat-table [dataSource]="dataSource" matSort>
           <!-- Nom des stocks Column -->
           <ng-container matColumnDef="Nom des stocks">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> 
               Stock 
             </th>
             <td mat-cell *matCellDef="let row"> {{row.id}} </td>
           </ng-container>  
           <!-- Marchandise Column -->
           <ng-container matColumnDef="Marchandise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Marchandise </th>
            <td mat-cell *matCellDef="let row"> {{row.merchandiseId}} </td>
           </ng-container> 
           <!-- Quantité Column -->
           <ng-container matColumnDef="Quantité">
               <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Quantité </th>
               <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
             </ng-container>         
             <!-- Utilisateur Column -->
           <ng-container matColumnDef="Utilisateur">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Utilisateur </th>
            <td mat-cell *matCellDef="let row"> {{row.userSupplier}} </td>
           </ng-container>     
           <!-- Entreprise Column -->
           <ng-container matColumnDef="Entreprise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise </th>
            <td mat-cell *matCellDef="let row"> {{row.companySupplier}} </td>
           </ng-container>         
           <!-- Delete Column -->
           <ng-container matColumnDef="View">
             <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"><!--Action--> </th>
             <td mat-cell *matCellDef="let row"> 
               <button  mat-icon-button color="primary" title="Afficher l'historique" (click)="stockHistory(row.id)">
                 <mat-icon>pageview</mat-icon>           
               </button>     
             </td>  
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
           <!-- Row shown when there is no matching data. -->
           <tr class="mat-row" *matNoDataRow>
           <td class="mat-cell" colspan="4">Aucune donnée à afficher </td> 
           </tr>
         </table>   
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
      <div *ngIf="inprogress" class="inprogress"><mat-spinner style="height: 30px;width: 30px;"></mat-spinner></div>       
     </div>

    </div>   
  </div>