<div class="progressDelivery">
    <div class="table-container"> 
      <div class="tbl">  
        <!--filter-->
       <mat-form-field style="width: 70%; position: relative; top :22px">
         <mat-label>Filtre</mat-label>
         <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
       </mat-form-field>
       <button (click) = "refresh()" mat-raised-button color="primary" style="position: relative; left: 150px; width: 120px; height: 40px; margin-top: 20px; ">Recharger</button>
       <div class="scroll">
         <table mat-table [dataSource]="dataSource" matSort>
           <!-- Nom du contrat Column-->
           <ng-container matColumnDef="Nom contrat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);">Contrat </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>  
          <!-- Utilisateur Column -->
          <ng-container matColumnDef="Utilisateur">
           <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Demandeur </th>
           <td mat-cell *matCellDef="let row"> {{row.userClient}} </td>
          </ng-container>  
          <!-- Entreprise Column -->
          <ng-container matColumnDef="Entreprise">
           <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise du demandeur </th>
           <td mat-cell *matCellDef="let row"> {{row.companyClient}} </td>
          </ng-container>            
          <!-- Marchandise Column -->
          <ng-container matColumnDef="Marchandise">
           <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Marchandise </th>
           <td mat-cell *matCellDef="let row"> {{row.merchandise_id}} </td>
          </ng-container> 
          <!-- Quantité Column -->
          <ng-container matColumnDef="Quantité">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Quantité </th>
            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
          </ng-container> 
          <!-- Utilisateur Column -->
          <ng-container matColumnDef="Fournisseur">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Fournisseur </th>
              <td mat-cell *matCellDef="let row"> {{row.userSupplier	}} </td>
           </ng-container>  
           <!-- Entreprise Column -->
           <ng-container matColumnDef="EntrepriseFournisseur">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise du fournisseur </th>
             <td mat-cell *matCellDef="let row"> {{row.companySupplier}} </td>
         </ng-container>            
           <!-- Stock Column -->
           <ng-container matColumnDef="Stock">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Stock </th>
             <td mat-cell *matCellDef="let row"> {{row.stock_id}} </td>
         </ng-container>            
           <!-- Valid Column -->
            <ng-container matColumnDef="Edit">
             <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"> </th>
             <td mat-cell *matCellDef="let row"> 
              <button (click) = "sendRequest(row)" mat-raised-button color="primary">Valider</button>

               <!-- <button mat-icon-button color="primary" (click)="sendRequest(row)">
               </button> -->
             </td>  
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
           <!-- Row shown when there is no matching data. -->
           <tr class="mat-row" *matNoDataRow>
           <td class="mat-cell" colspan="4">Aucune donnée à afficher </td> 
           </tr>
         </table>   
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
     </div>
    </div>   
    <div *ngIf="inprogress" class="spinnerInProgress" style="z-index: 10000"><mat-spinner></mat-spinner></div>       
  </div>