<div class="table-container"> 

  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------Identifications des contrats----------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="tbl-contracts">  
    <!--filter-->
    <div style="height: 40px; text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Identifications des contrats</div>
    <mat-form-field style="width: 100%; position: relative; top :22px">
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyContractFilter($event)" placeholder="" #input>
    </mat-form-field> 

    <div class="scroll">
      <table mat-table [dataSource]="contractDataSource" matSort>
        <!-- Nom contrat Column -->
        <ng-container matColumnDef="Nom contrat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);">  
          Nom contrat 
          </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>   
        <!-- Utilisateur Column -->
        <ng-container matColumnDef="Utilisateur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Utilisateur </th>
          <td mat-cell *matCellDef="let row"> {{row.userClient}} </td>
        </ng-container> 
        <!-- Entreprise Column -->
        <ng-container matColumnDef="Entreprise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise </th>
            <td mat-cell *matCellDef="let row"> {{row.companyClient}} </td>
          </ng-container>     
        <!-- Merchandise Column -->
        <ng-container matColumnDef="Marchandise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Marchandise </th>
        <td mat-cell *matCellDef="let row"> {{row.merchandise_id}} </td>
        </ng-container>                
        <!-- View Column -->
        <ng-container matColumnDef="View">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"> <!--Action--> </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button color="primary" title="Afficher l'historique" (click)="openViewContractHistoryForm(row.id)">
              <mat-icon>pageview</mat-icon>           
            </button>
          </td>  
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="contractDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: contractDisplayedColumns;"></tr>     
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Aucune donnée à afficher</td> 
        </tr>
      </table>   
    </div>
  </div>

  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------Statut des contrats-------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="tbl-contractsStatus">      
    <div style="height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Statut des contrats</div>
    <!--filter-->
    <mat-form-field style="width: 100%; position: relative; top :22px">
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyContractStatusFilter($event)" placeholder="" #input>
    </mat-form-field>
    
    <div class="scroll">
      <table mat-table [dataSource]="contractStatusDataSource" matSort>
        <!-- Date Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> 
            Date 
          </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>  
        <!-- Quantity Column -->
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Quantité </th>
          <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
        </ng-container>         
        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Statut </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>         
        <tr mat-header-row *matHeaderRowDef="contractStatusDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: contractStatusDisplayedColumns;"></tr>     
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Aucune donnée à afficher</td> 
        </tr>
      </table>   
    </div>
  </div>

  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------Informations Fournisseurs-------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="tbl-contractSupplier">      
    <div style="height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Informations Fournisseurs</div>
    <!--filter-->
    <mat-form-field style="width: 100%; position: relative; top :22px">
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyContractSupplierFilter($event)" placeholder="" #input>
    </mat-form-field>
    
    <div class="scroll">
      <table mat-table [dataSource]="contractSupplierDataSource" matSort>
        <!-- Nom stock Column -->
        <ng-container matColumnDef="Nom stock">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> 
            Nom stock 
          </th>
          <td mat-cell *matCellDef="let row"> {{row.stock_id}} </td>
        </ng-container>  
        <!-- Utilisateur Column -->
        <ng-container matColumnDef="Utilisateur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Utilisateur </th>
          <td mat-cell *matCellDef="let row"> {{row.userSupplier}} </td>
        </ng-container>         
        <!-- Entreprise Column -->
        <ng-container matColumnDef="Entreprise">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise </th>
          <td mat-cell *matCellDef="let row"> {{row.companySupplier}} </td>
        </ng-container>     
        <tr mat-header-row *matHeaderRowDef="contractSupplierDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: contractSupplierDisplayedColumns;"></tr>     
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Aucune donnée à afficher</td> 
        </tr>
      </table>   
    </div>
    <mat-paginator  #paginatorContract="matPaginator" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
  </div>
 </div>   