.frm {
  position: relative;
  width: 580px;
  height: 250px;
  display: inline-block;
  vertical-align: middle;
}

.inprogress{
  position: relative;
  height: 50px;
  width: 50px;
  top : 70px;
  left : 100px;
  overflow: auto;
}