<mat-tab-group>
  <mat-tab label="Demande" *ngIf = "resetOrEmpty">
    <app-contract-checkAvailability></app-contract-checkAvailability>
  </mat-tab>
  <mat-tab label="Proposition" *ngIf = "proposalSupplier">
    <app-contract-proposalSupplier></app-contract-proposalSupplier>
  </mat-tab>
  <mat-tab label="Validation" *ngIf = "validClient">
    <app-contract-validClient></app-contract-validClient>
  </mat-tab>
  <mat-tab label="Livraison" *ngIf = "progressDelivery">
    <app-contract-progressDelivery></app-contract-progressDelivery>
  </mat-tab>
  <mat-tab label="Réception" *ngIf = "finalizeDelivery">
    <app-contract-finalizeDelivery></app-contract-finalizeDelivery>
  </mat-tab>
  <mat-tab label="Libération" >
    <app-contract-reusable></app-contract-reusable>
  </mat-tab>
</mat-tab-group> 
