<div class="users-table">
    <div class="table-container"> 
      <div class="tbl">  
        <!--filter-->
       <mat-form-field style="width: 70%; position: relative; top :22px">
         <mat-label>Filtre</mat-label>
         <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
       </mat-form-field>
       
       <div class="scroll">
         <table mat-table [dataSource]="dataSource" matSort>
           <!-- Nom du contrat Column-->
           <ng-container matColumnDef="Nom contrat">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> 
               <button  mat-icon-button color="primary" title="Créer un contrat" (click)="openCreateContractForm()">
                 <mat-icon>add</mat-icon>           
               </button>
               Nom du contrat 
             </th>
             <td mat-cell *matCellDef="let row"> {{row.id}} </td>
           </ng-container>  
           <!-- Marchandise Column -->
           <ng-container matColumnDef="Marchandise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Marchandise </th>
            <td mat-cell *matCellDef="let row"> {{row.merchandise_id}} </td>
           </ng-container> 
           <!-- Quantité Column -->
           <ng-container matColumnDef="Quantité">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Quantité </th>
             <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
           </ng-container> 
           <!-- Utilisateur Column -->
           <ng-container matColumnDef="Utilisateur">
               <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Utilisateur </th>
               <td mat-cell *matCellDef="let row"> {{row.userClient}} </td>
            </ng-container>  
            <!-- Entreprise Column -->
           <ng-container matColumnDef="Entreprise">
               <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise </th>
               <td mat-cell *matCellDef="let row"> {{row.companyClient}} </td>
           </ng-container>            
           <!-- Delete Column -->
           <ng-container matColumnDef="Delete">
             <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"><!--Action--> </th>
             <td mat-cell *matCellDef="let row"> 
               <button  [disabled] = "row.status !== ''"   mat-icon-button color="warn" (click)="deleteContract(row.id)">
                 <mat-icon>delete</mat-icon>           
               </button>     
             </td>  
           </ng-container>
            <!-- Edit Column -->
            <ng-container matColumnDef="Edit">
             <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"> <!--Action--> </th>
             <td mat-cell *matCellDef="let row"> 
               <button  [disabled] = "row.status !== ''"   mat-icon-button color="primary" (click)="openEditContractForm(row)">
                 <mat-icon>edit</mat-icon>           
               </button>
             </td>  
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
           <!-- Row shown when there is no matching data. -->
           <tr class="mat-row" *matNoDataRow>
           <td class="mat-cell" colspan="4">Aucune donnée à afficher</td> 
           </tr>
         </table>   
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
     </div>
    </div>   
    <div *ngIf="inprogress" class="spinnerInProgress" style="z-index: 10000"><mat-spinner></mat-spinner></div>       
  </div>