<!-- shared navbar -->
<app-navbar></app-navbar> 

<mat-tab-group id="parent-container">
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------CONFIGURATION----------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
      <mat-tab label="Configuration" *ngIf = "!userGroupRights" style="font-weight: bolder;">
          <app-user-manager-group></app-user-manager-group>
       </mat-tab>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------GESTION DES STOCKS----------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
      <mat-tab label="Gestion des stocks" *ngIf = "!stockGroupRights">
          <app-stock-manager-group></app-stock-manager-group>
      </mat-tab>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------GESTION DES CONTRATS--------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
      <mat-tab label="Gestion des contrats" *ngIf = "!contractGroupRights">
          <app-contract-manager-group></app-contract-manager-group>
      </mat-tab>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------GESTION DES CONTRATS EN COURS---------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
      <mat-tab label="Contrats en cours" *ngIf = "!contractInProgressGroupRights">
        <app-contract-inprogress-manager-group></app-contract-inprogress-manager-group>
      </mat-tab>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------TRACABILITE------------------------------------------------------------------------------------>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
      <mat-tab label="Traçabilité" *ngIf = "!traceabilityGroupRights">
        <app-traceability-manager-group></app-traceability-manager-group>
      </mat-tab>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------PERTURBATIONS------------------------------------------------------------------------------------>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------->
      <mat-tab label="Perturbations" *ngIf = "!distributionGroupRights">
        <div [hidden]="distributionGroupRights">
          distributionGroup
        </div>
      </mat-tab>
</mat-tab-group>

  <p class="p-center">Réseau blockchain Hyperledger - Fabric</p>
  <div class="pied1_blockchain">
    {{networkStatus}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{duration}} 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{blockNumber}}
  </div>
  <div class="pied2_blockchain">
    {{channelName}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{chaincode}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{organizations}}
  </div>
  <p class="p-left"><small> &nbsp;&nbsp;&nbsp;{{leftFooter}} </small></p>
  <p class="p-right"><small> {{rightFooter}} &nbsp;&nbsp;&nbsp;&nbsp;</small></p>
