#parent-container {
    position: relative;
    top: 80px;
    padding-left: 100px;
    padding-right: 50px;
    overflow: auto;
  }

  .pied1_blockchain {
    position: absolute;
    bottom: 40px;
    height: 60px;
    background-color: pink ;
    text-align: center;
    left: 100px;
    width: 90%;
    }

  .pied2_blockchain {
    position: absolute;
    bottom: 30px;
    height: 40px;
    background-color: pink ;
    text-align: center;
    left: 100px;
    width: 90%;
    }

 .p-center {
  position: absolute;
  bottom: 100px;
  width: 80%;
  height: 40px;
  margin-bottom: 0; 
  text-align: center;
  font-size: 18px ;
  color: white;
  background-color: rgb(110, 57, 66) ;
  left: 100px;
   width: 90%;
}

.p-information {
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 1rem; 
  text-align: center;
}

.p-left {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;  
  font-style: italic;
}

.p-right {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem; 
  text-align: right;
  font-style: italic;
}
