<mat-tab-group>
    <mat-tab label="Administrateur">
      <app-traceability-admin-manager></app-traceability-admin-manager>
    </mat-tab>
    <mat-tab label="Stocks">
        <app-traceability-stock-manager></app-traceability-stock-manager>
    </mat-tab>
    <mat-tab label="Contrats">
        <app-traceability-contract-manager></app-traceability-contract-manager>
    </mat-tab>
  </mat-tab-group>  
