<div class="table-container"> 
  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------Utilisateurs--------------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="tbl-users">  
    <!--filter-->
  <div style="height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Liste des utilisateurs</div>
  <mat-form-field style="width: 100%; position: relative; top :22px">
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyUserFilter($event)" placeholder="" #input>
  </mat-form-field>      
  <div class="scroll">
    <table mat-table [dataSource]="userDataSource" matSort>
      <ng-container matColumnDef="Utilisateur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> Utilisateur </th>
        <td mat-cell *matCellDef="let row"> {{row.login}} </td>
      </ng-container>   
      <ng-container matColumnDef="Entreprise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise </th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container> 
      <ng-container matColumnDef="Profil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Profil </th>
          <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>             
        <!-- View Column -->
        <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"> Historique </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button color="primary" title="Afficher l'historique" (click)="openViewUserHistoryForm(row.login)">
            <mat-icon>pageview</mat-icon>           
          </button>
        </td>  
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="userDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>     
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée à afficher</td> 
      </tr>
    </table>   
  </div>
  <mat-paginator #paginatorUsers="matPaginator" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
  </div>

  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------Companies------------------------------------------------------------------------------------------>
  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="tbl-companies">      
  <div style="height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Liste des entreprises</div>
  <!--filter-->
  <mat-form-field style="width: 100%; position: relative; top :22px">
  <mat-label>Filtre</mat-label>
  <input matInput (keyup)="applyCompanyFilter($event)" placeholder="" #input>
  </mat-form-field>

  <div class="scroll">
  <table mat-table [dataSource]="companyDataSource" matSort>
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> Entreprise </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>  
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>         
    <tr mat-header-row *matHeaderRowDef="companyDisplayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: companyDisplayedColumns;"></tr>     
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Aucune donnée à afficher</td> 
    </tr>
  </table>   
  </div>
  <mat-paginator #paginatorCompanies="matPaginator" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of companies"></mat-paginator>
  </div>

  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------------------------Marchandises--------------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------------------------->
  <div class="tbl-merchandises">      
    <div style="height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Liste des marchandises</div>
    <!--filter-->
    <mat-form-field style="width: 100%; position: relative; top :22px">
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyMerchandiseFilter($event)" placeholder="" #input>
    </mat-form-field>
  
    <div class="scroll">
    <table mat-table [dataSource]="merchandiseDataSource" matSort>
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> Marchandise </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>  
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>         
      <tr mat-header-row *matHeaderRowDef="merchandiseDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: merchandiseDisplayedColumns;"></tr>     
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée à afficher </td> 
      </tr>
    </table>   
    </div>
    <mat-paginator #paginatorMerchandises="matPaginator" [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of merchandises"></mat-paginator>
  </div>

</div>   
