td {
    background-color: rgb(240, 255, 248);
  }
  
  .users-table{
    position: relative; 
  }
  
  .tbl-users {
    top: 10px;
    position: relative;
    left: 20px;
    width: 30%; 
    display: inline-block;
    vertical-align: top;
    overflow: auto;
  }

  .tbl-companies {
    top: 10px;
    position: relative;
    left: 50px;
    width: 30%; 
    display: inline-block;
    vertical-align: top;
    overflow: auto;
  }
  
  .tbl-merchandises {
    top: 10px;
    position: relative;
    left: 80px;
    width: 30%; 
    display: inline-block;
    vertical-align: top;
    overflow: auto;
  }
  
  .scroll{
    position: relative;
    max-width: 100%;
    overflow: auto;
    background-color: rgb(240, 255, 248);
    overflow: auto;
  }
  
  .inprogress{
    position: relative;
    height: 50px;
    width: 50px;
    left : 320px;
    top : 20px;
    overflow: auto;
  }