<mat-tab-group>
    <mat-tab label="Gestion des entreprises">
      <app-company-manager></app-company-manager>
    </mat-tab>
    <mat-tab label="Gestion des utilisateurs">
      <app-user-manager></app-user-manager>
    </mat-tab>
    <mat-tab label="Gestion des marchandises">
     <app-merchandise-manager></app-merchandise-manager>
    </mat-tab>
  </mat-tab-group>  
