<div class="stockHistory-table">
    <div class="table-container"> 
       <div style="height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">Historique de {{userId}}
       <div class="scroll">
         <table mat-table [dataSource]="dataSource" matSort>
           <!-- Blockchain Date -->
           <ng-container matColumnDef="BlockchainDate">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> 
                Date Blockchain
             </th>
             <td mat-cell *matCellDef="let row"> {{row.timestamp}} </td>
           </ng-container>  
           <!-- Status -->
           <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Etat </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
           </ng-container> 
           <!-- Tx -->
           <ng-container matColumnDef="Tx">
               <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Identifiant transaction </th>
               <td mat-cell *matCellDef="let row"> {{row.txid}} </td>
            </ng-container>         
            <!-- Application Date -->
           <ng-container matColumnDef="ApplicationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Date de modification </th>
            <td mat-cell *matCellDef="let row"> {{row.applicationDate}} </td>
           </ng-container>     
           <!-- quantity -->
           <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Quantité </th>
            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
           </ng-container> 
           <!-- Company -->
           <ng-container matColumnDef="Company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise </th>
            <td mat-cell *matCellDef="let row"> {{row.companySupplier}} </td>
           </ng-container>    

           <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
           <!-- Row shown when there is no matching data. -->
           <tr class="mat-row" *matNoDataRow>
           <!--<td class="mat-cell" colspan="4">aucune donnée à afficher "{{input.value}}"</td> -->
           </tr>
         </table>   
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20]" aria-label="Select page of stocks"></mat-paginator>
     </div>
    </div>   
  </div>