td {
    background-color: rgb(240, 255, 248);
    font-size: 13px ;
  }
  
  .stockHistory-table{
    width: 100%;
    position: relative; 
  }

.table-container {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: auto;
  }
  
/* .mat-column-Tx {
  word-wrap: break-word !important;
  white-space: unset !important;
  width: 35% !important;
  word-break: break-word;
} */
