<div class="companies-table">
    <div class="table-container" style="padding-left: 200px; padding-right: 200px">
      <div class="tbl">
         <!--filter-->
        <mat-form-field style="width: 70%; position: relative; top :22px">
          <mat-label>Filtre</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
        <div class="scroll">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- Id Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> 
                <button  mat-icon-button color="primary" title="Créer une entreprise" (click)="openCreateCompanyForm()">
                  <mat-icon>add</mat-icon>           
                </button>
                Identifiant 
              </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>  
            <!-- Date Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Date </th>
              <td mat-cell *matCellDef="let row"> {{row.date}} </td>
            </ng-container>         
            <!-- Delete Column -->
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210);"></th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="deleteCompany(row.id)">
                  <mat-icon>delete</mat-icon>           
                </button>
              </td>  
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Aucune donnée à afficher </td> 
            </tr>
          </table>   
       </div>
       <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>   
    <div *ngIf="inprogress" class="spinnerInProgress" style="z-index: 10000"><mat-spinner></mat-spinner></div>       
  </div>