
<div class="main-screen">

    <div class="container px-4 py-5 px-md-5 text-center">
      <div class="row gx-lg-5 align-items-center mb-5">
       <!-- Section: Design Block -->
       <section class="background-radial-gradient overflow-hidden">
        <div class="mb-5 mb-lg-0">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            {{title}} <br />
            <span style="color: hsl(218, 81%, 75%)">
                {{subtitle}}
            </span>
          </h1>
         </div>
        </section>

        <!--spaces-->
        <div>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
        </div>

        <div class=" d-flex align-items-center justify-content-center">
          <div class="card bg-glass" style="width: 450px; height: 260px;">
            <div class="card-body  py-5 px-md-5">
              <form [formGroup]="angForm">
       
                <!-- login input -->
                <div class="input-group mb-3">  
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-person-fill "></i></span>
                  </div>
                  <input placeholder="email" type="text"  class="form-control" formControlName="email" />
                </div>

                <!-- Password input -->
                <div class="input-group mb-3">  
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-key-fill "></i></span>
                  </div>
                  <input placeholder="Password" type="password" class="form-control" formControlName="password"/> 
                </div>

                <!-- Submit button -->         
                <button (click) = "doLogin(angForm)" type="submit" class="form-control btn btn-primary btn-block">
                  Login
                </button>
          
                <div class="text-danger" *ngIf="connectionStatus == false">      
                    <h5>&nbsp;</h5>login ou mot de passe incorrect.
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!--footer-->
     <p class="p-left"><small> &nbsp;{{leftFooter}} </small></p>
     <p class="p-right"><small> {{rightFooter}} &nbsp;</small></p>
</div>