<div class="frm">
    <div style="width: 400px; height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">{{title}} </div>
    <form [formGroup]="contractForm">
      <div style="position: relative; font-weight: bold; left:20px; top:30px">
       Contrat : 
      </div>
      <input [readonly]="editMode" placeholder="Nom contrat" type="text"  style="position: relative; top:0px; left: 130px; width: 250px"  class="form-control" formControlName="id"/>
  
      <div style="position: relative; font-weight: bold; left: 20px; top:50px">
       Utilisateur : 
       </div>
       <mat-form-field style="position: relative; top:15px; left: 130px; width: 250px" >
        <mat-label>Utilisateur</mat-label>
        <mat-select formControlName="userClient" name="userClient">
          <mat-option *ngFor="let user of users" [value]="user">
            {{user}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div style="position: relative; font-weight: bold; left: 20px; top:50px">
        Entreprise :
       </div>
       <mat-form-field style="position: relative; top:15px; left: 130px; width: 250px">
        <mat-label>Entreprise</mat-label>
        <mat-select formControlName="companyClient" name="companyClient">
          <mat-option *ngFor="let company of companies" [value]="company">
            {{company}}
          </mat-option>
        </mat-select>
      </mat-form-field>
       <div style="position: relative; font-weight: bold; left: 20px; top:50px">
        Marchandise : 
       </div>
       <mat-form-field style="position: relative; top:15px; left: 130px; width: 250px">
        <mat-label>Marchandise</mat-label>
        <mat-select formControlName="merchandise_id" name="merchandise_id">
          <mat-option *ngFor="let merchandise of merchandises" [value]="merchandise">
            {{merchandise}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="position: relative; font-weight: bold; left: 20px; top:50px">
        Quantité  : 
       </div>
       <input placeholder="Quantité" type="number"  min="0" style="position: relative; top:25px; left: 130px; width: 250px" class="form-control" formControlName="quantity"/>
      
    <div style=" display: flex"> 
      <button (click) = "formCancel()" mat-raised-button  style="position: relative; width: 100px; left: 10px; top : 60px">Annuler</button>    
      <button (click) = "createEditContract(contractForm)" mat-raised-button color="primary" style="position: relative; left: 40px; width: 200px;left: 20px; top:60px">Valider la Saisie</button>
      <div *ngIf="inprogress" class="inprogress"><mat-spinner style="height: 30px;width: 30px;"></mat-spinner></div>   
    </div>

   </form>
   
</div>