.frm {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    width:400px;
    height: 580px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .inprogress{
    position: relative;
    height: 50px;
    width: 50px;
    left : 50px;
    top : 60px;
    overflow: auto;
  }