<div class="users-table">
    <div class="table-container"> 
      <div class="tbl">  
        <!--filter-->
       <mat-form-field style="width: 70%; position: relative; top :22px">
         <mat-label>Filtre</mat-label>
         <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
       </mat-form-field>
       
       <div class="scroll">
         <table mat-table [dataSource]="dataSource" matSort>
           <!-- Utilisateur Column -->
           <ng-container matColumnDef="Utilisateur">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; background-color: rgb(224, 224, 210);"> 
               <button  mat-icon-button color="primary" title="Créer un utilisateur" (click)="openCreateUserForm()">
                 <mat-icon>add</mat-icon>           
               </button>
               Utilisateur 
             </th>
             <td mat-cell *matCellDef="let row"> {{row.login}} </td>
           </ng-container>  
           <!-- Email Column -->
           <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container> 
           <!-- Entreprise Column -->
           <ng-container matColumnDef="Entreprise">
             <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Entreprise </th>
             <td mat-cell *matCellDef="let row"> {{row.company}} </td>
           </ng-container> 
           <!-- Profil Column -->
           <ng-container matColumnDef="Profil">
               <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;  background-color: rgb(224, 224, 210);"> Profil </th>
               <td mat-cell *matCellDef="let row"> {{row.type}} </td>
             </ng-container>             
           <!-- Delete Column -->
           <ng-container matColumnDef="Delete">
             <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"><!--Action--> </th>
             <td mat-cell *matCellDef="let row"> 
               <button  [disabled] = "row.email == currentUser"   mat-icon-button color="warn" (click)="deleteUser(row.email)">
                 <mat-icon>delete</mat-icon>           
               </button>     
             </td>  
           </ng-container>
            <!-- Edit Column -->
            <ng-container matColumnDef="Edit">
             <th mat-header-cell *matHeaderCellDef style="font-weight: bold;  background-color: rgb(224, 224, 210)"> <!--Action--> </th>
             <td mat-cell *matCellDef="let row"> 
               <button  [disabled] = "row.email == currentUser"   mat-icon-button color="primary" (click)="openEditUserForm(row)">
                 <mat-icon>edit</mat-icon>           
               </button>
             </td>  
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
           <!-- Row shown when there is no matching data. -->
           <tr class="mat-row" *matNoDataRow>
           <td class="mat-cell" colspan="4">Aucune donnée à afficher </td> 
           </tr>
         </table>   
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of users"></mat-paginator>
     </div>
    </div>   
    <div *ngIf="inprogress" class="spinnerInProgress" style="z-index: 10000"><mat-spinner></mat-spinner></div>       
  </div>