<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <mat-icon>person</mat-icon>
      <div class="userTitle" >Utilisateur connecté  : </div>
      <div class="nav-item" >&nbsp; {{user.login}}</div>
      <div class="nav-item" style="color: red;" >&nbsp; {{user.type}}</div>
      <div class="nav-item" >&nbsp; {{user.company}}</div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
         <!-- <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Contact</a>
          </li> -->
          
          <li class="nav-item" title="Home">
            <a class="nav-link" href="/home"><mat-icon>home</mat-icon></a>
          </li>
          <li class="nav-item" title="Logout">
            <a class="nav-link" (click) = "logout()" type="submit" href="/"><mat-icon>exit_to_app</mat-icon></a>
         </li>
        </ul>
      </div>
    </div>
  </nav>