<div class="frm">
    <div style="width: 400px; height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">{{title}} </div>
    <form [formGroup]="stockForm">  
    
      <div style="position: relative; font-weight: bold; left: 20px; top:30px">
        Stock  : 
       </div>
       <input [readonly]="editMode" placeholder="Nom du stock" type="text"  style="position: relative; left: 130px; width: 250px" class="form-control" formControlName="id"/>

      <div style="position: relative; font-weight: bold; left: 20px; top:50px">
        Entreprise : 
      </div>
      <mat-form-field style="position: relative; left: 130px; width: 250px; top:15px">
        <mat-label>Entreprise</mat-label>
        <mat-select formControlName="companySupplier" name="companySupplier">
          <mat-option *ngFor="let companySupplier of companySuppliers" [value]="companySupplier">
            {{companySupplier}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="position: relative; font-weight: bold; left:20px; top:50px">
        Utilisateur : 
       </div>
       <mat-form-field style="position: relative; top:10px; left: 130px; width: 250px">
         <mat-label>Utilisateur</mat-label>
         <mat-select formControlName="userSupplier" name="userSupplier">
           <mat-option *ngFor="let userSupplier of userSuppliers" [value]="userSupplier">
             {{userSupplier}}
           </mat-option>
         </mat-select>
       </mat-form-field>

      <div style="position: relative; font-weight: bold; left: 20px; top:35px">
        Marchandise : 
       </div>   
       <mat-form-field style="position: relative; top:20px; left: 130px; width: 250px; top:0px">
        <mat-label>Marchandise</mat-label>
        <mat-select formControlName="merchandiseId" name="merchandiseId">
          <mat-option *ngFor="let merchandiseId of merchandises" [value]="merchandiseId">
            {{merchandiseId}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="position: relative; font-weight: bold; left: 20px; top:30px">
        Quantité  : 
       </div>
       <input placeholder="Quantité du stock" type="number"  min="0" style="position: relative; top:0px; left: 130px; width: 250px" class="form-control" formControlName="quantity"/>
      
    <div style=" display: flex"> 
      <button (click) = "formCancel()" mat-raised-button  style="position: relative; width: 100px; left: 10px; top : 60px">Annuler</button>    
      <button (click) = "createEditStock(stockForm)" mat-raised-button color="primary" style="position: relative; left: 20px; width: 200px; top:60px">Valider la Saisie</button>
      <div *ngIf="inprogress" class="inprogress"><mat-spinner style="height: 30px;width: 30px;"></mat-spinner></div> 
    </div>

   </form> 
</div>