/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';

.table-container {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: auto;
}
 
.tbl {
  top: 10px;
  position: relative;
  left: 50px;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

.scroll{
  position: relative;
  max-width: 100%;
  overflow: auto;
  background-color: rgb(240, 255, 248);
}

.spinnerInProgress{
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.inprogress{
  position: relative;
  height: 50px;
  width: 50px;
  left : 320px;
  top : 20px;
  overflow: auto;
}

.success-message {
    --mdc-snackbar-container-color: green !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-mdc-snack-bar-button-color: white !important;
    white-space: pre-wrap    
}

.error-message {
  --mdc-snackbar-container-color: red !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap
}