<div class="frm">
  <form [formGroup]="companyForm">
    <div style="width: 580px; height: 40px;text-align: center; font-size: 20px ; background-color: rgb(80, 117, 98); color: white;">{{title}}</div>
    <mat-label style="position: relative; left: 20px; top: 50px; width: 10px; font-weight: bold">
     Nom entreprise : 
    </mat-label>
    <mat-form-field style="position: relative; left: 100px;top: 50px; width: 300px">
        <input placeholder="" type="text" matInput formControlName="id"/>
    </mat-form-field>

    <div mat-dialog-actions> 
      <button (click) = "formCancel()" mat-raised-button style="top:63px; left: 10px">Annuler</button>    
      <button (click) = "createEditCompany(companyForm)" mat-raised-button color="primary" style="top:63px; left: 10px">Valider la Saisie</button>
      <div *ngIf="inprogress" class="inprogress"><mat-spinner style="height: 30px;width: 30px;"></mat-spinner></div>
    </div>

  </form>
 
</div>
